#header-nav {
    background-color: #908484;
    border-radius: 0;
    border: 3px solid black;
    padding: 5px;
    
}

.container{
    display: contents;
    float:left;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: cursive;
    color: #141613;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .50; 
    font-size: 2.0em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222
  

  }


.navbar-brand a:hover   { /* text decoration quando tiver a função hover estiver ativada */
    text-decoration: none;
    
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

  .navbar-toggle .icon-bar {
   border: solid black;
    
  }

  .navbar-default .navbar-toggle {
    border: 2px solid black;
    border-color: black;
}

.navbar-toggle {
  
}